<div class="out">
  <div class="left">
    <h2>O nas</h2>
    <h4>
      Nasza firma działą nieprzerwanie od wielu dziesiątek lat. Cechuje nas
      niezawodność oraz profesjonalizm.
    </h4>
    <h4>Zadowolenie klienta jest dla nas rzeczą świętą</h4>
    <p>Dane kontaktowe:</p>
    <div class="info">
      <p>nr tel. 997, 112</p>
      <p>Kawiory 21</p>
      <p>30-055 Kraków</p>
    </div>
  </div>
  <div class="right">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5121.948508958564!2d19.90435845390626!3d50.0680438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1spl!2spl!4v1670612154568!5m2!1spl!2spl"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
