<h1>Biuro podróży WikSat</h1>
<button class="filtry" (click)="filtyChange()">Filty</button>
<!-- <button class="add" (click)="changeShowScreen()">Dodaj wycieczkę</button> -->
<div class="flex-container" *ngIf="tripsArray != undefined">
  <div class="filtering" *ngIf="fitryshow">
    <div class="filter-inner">
      <div
        class="current"
        [ngStyle]="{
          'background-color':
            howMuchOrdered(tripsArray)[0] > 10 ? 'green' : 'red'
        }"
      >
        <p>Aktualnie wybrano: {{ howMuchOrdered(tripsArray)[0] }}</p>
        <p>Za cenę: {{ howMuchOrdered(tripsArray)[1] }}</p>
      </div>
      <h3>Filtry</h3>
      <h4>Cena:</h4>
      <ngx-slider
        [(value)]="value"
        [(highValue)]="highValue"
        [options]="{
          floor: this.getMinOfAll(),
          ceil: this.getMaxOfAll()
        }"
      ></ngx-slider>
      <h4>Ocena:</h4>
      <div>
        <div *ngFor="let numberOut of [0, 1, 2, 3, 4, 5]">
          <input
            type="checkbox"
            name="check-{{ numberOut }}"
            id="check-{{ numberOut }}"
            checked
            [value]="numberOut"
            (change)="onChangeStar($event)"
          />
          <label for="check-{{ numberOut }}"
            ><div class="check-star" *ngFor="let number of [0, 1, 2, 3, 4]">
              <img
                class="star"
                [src]="
                  numberOut >= number + 1
                    ? '/assets/images/star-ful.png'
                    : '/assets/images/star.png'
                "
                alt=""
              /></div
          ></label>
        </div>
      </div>
      <h4>Kraje:</h4>
      <div>
        <div *ngFor="let country of distinctCountryArray">
          <input
            type="checkbox"
            name="{{ country }}"
            id="country-{{ country }}"
            checked
            (change)="onChangeCountry($event)"
            value="{{ country }}"
          />
          <label for="country-{{ country }}">{{ country | uppercase }}</label>
        </div>
      </div>
      <div>
        <h4>Przedział czasowy:</h4>
        <input
          type="date"
          name="startDate"
          id="startDate"
          (change)="startChange($event)"
        />
        -
        <input
          type="date"
          name="endDate"
          id="endDate"
          (change)="endChange($event)"
        />
      </div>
      <div>
        <h4>Status:</h4>
        <input
          type="checkbox"
          name="before"
          id="status-before"
          checked
          (change)="onChangeStatus($event)"
          value="0"
        />
        <label for="status-before">BEFORE</label>

        <input
          type="checkbox"
          name="now"
          id="status-now"
          checked
          (change)="onChangeStatus($event)"
          value="1"
        />
        <label for="status-now">NOW</label>

        <input
          type="checkbox"
          name="after"
          id="status-after"
          checked
          (change)="onChangeStatus($event)"
          value="2"
        />
        <label for="status-after">AFTER</label>
      </div>
    </div>
  </div>
  <div class="main">
    <div
      class="trip"
      [ngClass]="{
        'most-expensive': trip.price == getMax(),
        'least-expensive': trip.price == getMin(),
        out: trip.amount - trip.howManyChose == 0
      }"
      *ngFor="
        let trip of tripsArray
          | filtration
            : [
                currentCountryArray,
                currentStarArray,
                currentStartDate,
                currentEndDate,
                value,
                highValue,
                statusArray
              ]
      "
    >
      <a routerLink="/trips/{{ trip.id }}"
        ><img class="image" src="/assets/{{ trip.img[0] }}" alt=""
      /></a>

      <div class="under-image">
        <h4>
          {{ trip.name | uppercase }}
          <div
            class="kolko"
            [ngStyle]="{
              'background-color': isTime(trip) ? 'green' : 'yellow'
            }"
          ></div>
        </h4>
        <p class="country">{{ trip.country | uppercase }}</p>
        <p>{{ trip.desc }}</p>
        <p class="date">{{ trip.startDate }} --> {{ trip.endDate }}</p>
        <p>Pozostało miejsc: {{ trip.amount - trip.howManyChose }}</p>
        <p>Wybrano: {{ trip.howManyChose }}</p>
        <p class="price">{{ trip.price | currency : trip.currency }}</p>
        <!-- <app-rate
          class="ratee"
          (ratingChanged)="ratingEventHandler(trip, $event)"
          [amountPoints]="trip.amountPoints"
          [amountVote]="trip.amountVote"
        ></app-rate> -->
        <div class="buttons">
          <button [disabled]="trip.howManyChose == 0" (click)="downClick(trip)">
            -
          </button>
          <button
            *ngIf="trip.amount - trip.howManyChose > 0"
            (click)="upClick(trip)"
          >
            +
          </button>
          <p
            *ngIf="
              trip.amount - trip.howManyChose <= 3 &&
              trip.amount - trip.howManyChose > 1
            "
            class="prawo"
          >
            Small amount
          </p>
          <p
            style="color: red"
            *ngIf="trip.amount - trip.howManyChose == 1"
            class="prawo"
          >
            Last minute
          </p>
          <p *ngIf="trip.amount - trip.howManyChose == 0" class="prawo">
            Out of stock!!!
          </p>
        </div>
        <!-- <button class="remove" (click)="remove(trip)">remove</button> -->
      </div>
    </div>
  </div>
  <!-- <app-add-trip
    *ngIf="showAddScreen"
    class="adding"
    (formSubmitEvent)="formSubmitEventHandler($event)"
  ></app-add-trip> -->
</div>
