<div class="rate" *ngIf="auth.userRoles != null">
  <div class="stars">
    <div *ngFor="let number of [0, 1, 2, 3, 4]">
      <img
        #number
        class="star"
        width="16px"
        alt=""
        [src]="
          imgSrc >= number + 1
            ? '/assets/images/star-ful.png'
            : '/assets/images/star.png'
        "
        (mouseover)="imgSrc = number + 1"
        (mouseout)="imgSrc = this.amountPoints / this.amountVote"
        (click)="rattingApplied(number)"
      />
    </div>
    <p>{{ this.amountPoints / this.amountVote | number : "1.2-2" }}</p>

    <p *ngIf="alreadyVoted">Zagłosowano!</p>
    <p *ngIf="czy">Nie możesz głosować!</p>
    <div *ngIf="!czy">
      <p *ngIf="this.auth.userRoles.banned">Jesteś zbanowany!</p>
    </div>
  </div>
</div>
