<div class="inner">
  <a routerLink="/trips"><---Powrót do wycieczek</a>
  <ng-container *ngIf="currentTrip">
    <div class="ctrip">
      <div class="first">
        <br />
        <img
          class="image"
          src="/assets/{{ currentTrip.img[selected] }}"
          alt=""
        />
        <div class="buttonsToPhoto">
          <div class="np" (click)="previousPhoto()"><</div>
          <!-- <br /> -->
          <div class="break"></div>
          <div class="np" (click)="nextPhoto()">></div>
        </div>
      </div>
      <div class="second">
        <h1>
          {{ currentTrip.name | uppercase }}
          <div
            class="kolko"
            [ngStyle]="{
              'background-color': isTime(currentTrip) ? 'green' : 'yellow'
            }"
          ></div>
        </h1>

        <h2>{{ currentTrip.country | uppercase }}</h2>
        <p>{{ currentTrip.desc }}</p>
        <p class="date">
          {{ currentTrip.startDate }} --> {{ currentTrip.endDate }}
        </p>
        <app-rate
          class="ratee"
          (ratingChanged)="ratingEventHandler(currentTrip, $event)"
          [amountPoints]="currentTrip.amountPoints"
          [amountVote]="currentTrip.amountVote"
          [czy]="czy"
        ></app-rate>
        <p>Pozostało miejsc: {{ currentTrip.amount - howManyChose }}</p>
        <p>Wybrano: {{ howManyChose }}</p>
        <p class="price">
          {{ currentTrip.price | currency : currentTrip.currency }}
        </p>
        <div class="buttons">
          <button
            [disabled]="howManyChose == 0"
            (click)="downClick(currentTrip)"
          >
            -
          </button>
          <button
            *ngIf="currentTrip.amount - howManyChose > 0"
            (click)="upClick(currentTrip)"
          >
            +
          </button>
          <p
            *ngIf="
              currentTrip.amount - howManyChose <= 3 &&
              currentTrip.amount - howManyChose > 1
            "
          >
            Small amount
          </p>
          <p style="color: red" *ngIf="currentTrip.amount - howManyChose == 1">
            Last minute
          </p>
          <p *ngIf="currentTrip.amount - howManyChose == 0">Out of stock!!!</p>
        </div>
      </div>
      <div class="third">
        <h2>Opinie:</h2>
        <h5 *ngIf="reviews.length == 0">(brak opinii)</h5>
        <div class="review" *ngFor="let review of reviews">
          <div class="one-review">
            <span class="strong">Nick: </span><span>{{ review.nick }}</span>
            <p></p>
            <span class="strong">Nazwa wycieczki: </span
            ><span>{{ review.name }}</span>
            <p></p>
            <span class="strong">Data odbycia wycieczki: </span
            ><span>{{ review.date }}</span>
            <p></p>
            <span class="strong">Treść: </span><span>{{ review.review }}</span>
          </div>
        </div>

        <app-review
          *ngIf="userData != null"
          [czy]="czy"
          (newReviewEvent)="addReview($event)"
        ></app-review>
      </div>
    </div>
  </ng-container>
</div>
